
	
	<hr class="soft"/>
	
		<div class="span9">
<%= form_for @merchant, html: { :multipart => true,:class=> "form-horizontal" } do |f| %>
<div  class="alert-error">
<%= render "shared/error_messages", :target => @merchant %>
			<%= flash[:error] %>
			</div>
      <div class="well">
      <div class="control-group">
    <%= f.label :merchant_name,"Store Name*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :merchant_name %>
    </div>
    </div>
  </div>
  
        <div class="control-group">
    <%= f.label :first_name,"First Name*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :first_name %>
    </div>
    </div>
  </div>


      <div class="control-group">
    <%= f.label :last_name,"Last Name*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :last_name %>
    </div>
    </div>
  </div>
  
      <div class="control-group">
    <%= f.label :email,"Email*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :email %>
    </div>
    </div>
  </div>

   
  
     <div class="control-group">
    <%= f.label :address,"Address*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :address %>
    </div>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :city,"City*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :city %>
    </div>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :state,"State*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :state %>
    </div>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :zip,"zip*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :zip %>
    </div>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :primary_phone,"Primary Phone*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :primary_phone %>
    </div>
    </div>
  </div>
  
    <div class="control-group">
    <%= f.label :secondary_phone,"Secondary Phone*", :class=>"control-label" %>
    <div class="controls">
    	
    	<div id="inputFname1">
    	
    <%= f.text_field :secondary_phone %>
    </div>
    </div>
  </div>
  
    <div class="control-group">
    	 <%= f.label :logo,"Upload Logo/Pic*", :class=>"control-label" %>
    	 <div class="controls">
    	<div id="inputFname1">
    	<%= f.file_field :logo %>
    </div>
    </div>
    </div>
 

<div class="control-group">
	  	<div class="controls">
	  		
    <%= f.submit "Submit", :class=>"btn btn-success btn-large" %>
    </div>
  </div>
   </div>
  <% end %>

  
   



