<p id="notice"><%= notice %></p>
<%= render 'home/category_sidebar'%>
<span> <%= link_to 'Check Out',new_payment_path %></span>
<table>
	<tr>
		<th> ID </th>
		<th>Name </th>
		<th>Unit Price </th>
		<th> Quantity </th>
		<th>  Price </th>
		<th></th>
	</tr>

<%= render :partial => 'line_item' %>

</table>
<span> Total </span><%=  number_to_currency(Cart.get_total(session[:cart_id]))%>


	

