<h4><%= address.name.titleize %></h4>
<%= [address.first_name.titleize,address.last_name.titleize].join(' ') %><br>
<%= [address.address1.titleize, address.address2.titleize].join(' ') %><br>
<%= address.city.titleize %> <%= (address.state).upcase %> <%= address.zip %> <br>




 
 
 
 
